* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* Hamburger */
.hamburger {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 22px;
    cursor: pointer;
    z-index: 1001;
}

/* Overlay */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

.overlay.active {
    display: block;
}

/* Layout */
.dashboard {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 240px;
    height: 100vh;
    background: #020617;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    transition: 0.3s;
}

.sidebar h2 {
    margin-bottom: 30px;
    color: #38bdf8;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li:hover,
.sidebar .active {
    background: #1e293b;
}

/* Main */
.main {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid #334155;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #38bdf8;
}

.card h3 {
    font-size: 14px;
    color: #94a3b8;
}

.card p {
    font-size: 26px;
    margin-top: 10px;
    font-weight: 600;
}

/* Table */
.table-section {
    margin-top: 25px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #334155;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

th {
    text-align: left;
    color: #94a3b8;
}

tr:hover {
    background: #334155;
}

/* Responsive */
@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {

    .hamburger {
        display: block;
    }

    .sidebar {
        left: -260px;
    }

    .sidebar.active {
        left: 0;
    }

    .main {
        margin-left: 0;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}